@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Display-Regular.otf");
}
@font-face {
  font-family: "SF Display";
  font-weight: 500;
  src: url("https://sf.abarba.me/SF-UI-Display-Medium.otf");
}
@font-face {
  font-family: "SF Display";
  font-weight: 600;
  src: url("https://sf.abarba.me/SF-UI-Display-Semibold.otf");
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "SF Display";
  font-size: 14px;
  color: black;
  margin: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: inherit;
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
}
body h1 {
  font-size: 2.1em;
}
body h2 {
  font-size: 1.75em;
}
body h3 {
  font-size: 1.4em;
}
body h4 {
  font-size: 1.15em;
}
body h5 {
  font-size: 1em;
}
body h6 {
  font-size: 0.85em;
}
body a {
  outline: none;
  text-decoration: none;
  font-weight: 400;
  color: inherit;
}
body a:hover,
body a:focus {
  text-decoration: none;
  color: inherit;
}
body ul {
  margin: 0;
  padding: 0;
}
body li {
  list-style: none;
}
body img {
  border: none;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}

.ui-widget.ui-widget-content {
  z-index: 1050;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1001;
  display: none;
  background: rgba(0, 0, 0, 0.2);
}
.overlay.overlay-in {
  display: block;
  cursor: url("../img/cursor.png"), auto;
}

aside {
  background: #f4f4f4;
  height: 100vh;
  width: 250px;
  border-right: 1px solid #e1e1e1;
  transition: margin 0.25s ease;
  position: fixed;
  overflow-y: scroll;
}
aside::-webkit-scrollbar {
  width: 5px;
}
aside::-webkit-scrollbar-track {
  background: #f1f1f1;
}
aside::-webkit-scrollbar-thumb {
  background: #888;
}
aside::-webkit-scrollbar-thumb:hover {
  background: #555;
}
aside ul li {
  position: relative;
}
aside ul li .sub-menu {
  background: #f4f4f4;
}
aside ul li .sub-menu li.active a {
  color: #6F4E37;
}
aside ul li:hover {
  background: #6F4E37;
  color: white;
}
aside ul li:hover .sub-menu li {
  background: #f4f4f4;
}
aside ul li.active {
  background: #6F4E37;
  color: white;
}
aside ul li a.nav-link {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  padding: 0;
  margin: 8px 20px;
  transition: 0.3s;
}
aside ul li .menu-down {
  font-size: 20px !important;
  position: absolute;
  top: 7px;
  right: 0;
  cursor: pointer;
}
aside ul li .sub-menu li {
  background: none;
}
aside ul li .sub-menu li a {
  color: #353535;
  transition: 0.3s;
}
aside ul li .sub-menu li a:hover {
  color: #6F4E37;
  transform: translateX(5px);
}
aside.aside-mini {
  width: 250px;
  transition: all 0.25s ease;
}
aside .menu {
  margin: 20px 0;
  position: relative;
}
aside .menu-close {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 24px;
}
aside .menu ul.nav li {
  display: block;
  width: 100%;
  padding: 0;
}
aside .menu ul.nav li i {
  padding-right: 10px;
  font-size: 16px;
}
aside .logo {
  text-align: center;
  padding: 10px 15px;
  height: 60px;
  border-bottom: 1px solid #e1e1e1;
}
aside .logo .logo-mini {
  display: none;
}

main {
  width: calc(100% - 250px);
  transition: width 0.25s ease, margin 0.25s ease;
  margin-left: 250px;
  font-size: calc(9px + 0.38vmax);
}

header {
  height: 60px;
  background: #f4f4f4;
  border-bottom: 1px solid #e1e1e1;
  padding: 0 15px;
  position: fixed;
  width: calc(100% - 250px);
  transition: width 0.25s ease, margin 0.25s ease;
  z-index: 1000;
}
header .menu-btn, header .cart-btn {
  font-size: 24px;
  cursor: pointer;
  padding: 10px 0;
  margin-right: 15px;
  transition: 0.3s;
}
header .menu-btn:hover, header .cart-btn:hover {
  color: #6F4E37;
}
header .menu-btn span, header .cart-btn span {
  font-size: 8px;
  background: #6F4E37;
  width: 12px;
  height: 12px;
  text-align: center;
  line-height: 12px;
  border-radius: 50%;
  color: white;
  position: absolute;
  margin-left: -10px;
}
header .search {
  position: relative;
  margin: 10px 0;
  width: 100%;
}
header .search input {
  border: 0;
  background: none;
  font-size: 14px;
  padding-left: 30px;
  border-radius: 0;
}
header .search input:focus {
  box-shadow: none;
  background: none;
  border-bottom: 1px solid #6F4E37;
}
header .search button {
  background: none;
  position: absolute;
  top: 4px;
  left: 2px;
  border: 0;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}
header .search button:hover {
  color: #6F4E37;
}
header .contact ul {
  text-align: right;
  margin: 19px 0;
}
header .contact ul li {
  display: inline-block;
}
header .contact ul li a {
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid #cccccc;
}
header .contact ul li a i {
  padding-right: 10px;
  color: #6F4E37;
}
header .contact ul li:first-child a {
  border-left: 0;
}

article {
  margin: 50px;
  margin-top: 60px;
  margin-bottom: 0;
}

.slider {
  margin: 0 -50px;
  height: 90vh;
  overflow: hidden;
}
.slider .owl-theme .owl-nav button.owl-prev,
.slider .owl-theme .owl-nav button.owl-next {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  font-size: 60px;
  transition: 0.5s;
  color: white;
}
.slider .owl-theme .owl-nav button.owl-prev:hover,
.slider .owl-theme .owl-nav button.owl-next:hover {
  color: #6F4E37;
  background: none;
}
.slider .owl-theme .owl-nav button.owl-prev:focus,
.slider .owl-theme .owl-nav button.owl-next:focus {
  outline: none;
}
.slider .owl-theme .owl-nav button.owl-prev {
  left: 0;
}
.slider .owl-theme .owl-nav button.owl-next {
  right: 0;
}
.slider .owl-item img {
  width: auto;
  height: 100vh;
  filter: brightness(0.7);
}
.slider .slider-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
  text-align: center;
  width: 800px;
}
.slider .slider-text h1 {
  margin-bottom: 30px;
}
.slider .slider-text h1 a {
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid white;
  border-right: 0;
  border-left: 0;
  padding: 10px 0;
  cursor: default;
}

.cart {
  width: 400px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background: white;
  z-index: 1020;
  transform: translateX(100%);
  transition: 0.3s;
  display: grid;
  grid-template-rows: 100px calc(100% - 160px) 60px;
}
.cart.cart-out {
  transform: none;
}
.cart-header {
  padding: 30px 20px;
  background: #6F4E37;
  color: white;
}
.cart-header h3 {
  font-weight: bold;
  margin-top: 5px;
}
.cart-header i {
  font-size: 24px;
  margin-top: -10px;
}
.cart-header i.cart-close {
  cursor: pointer;
  transition: 0.5s;
}
.cart-header i.cart-close:hover {
  color: black;
}
.cart-header span {
  position: absolute;
  background: black;
  font-size: 10px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  border-radius: 50%;
  bottom: 0;
  margin-left: -10px;
}
.cart-body {
  padding: 15px;
  max-height: 100%;
  overflow-y: scroll;
}
.cart-body::-webkit-scrollbar {
  width: 5px;
}
.cart-body::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.cart-body::-webkit-scrollbar-thumb {
  background: #888;
}
.cart-body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.cart-body .box-product-cart {
  display: flex;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.cart-body .box-product-cart img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
.cart-body .box-product-cart-detail h5 {
  margin-bottom: 5px;
}
.cart-body .box-product-cart-detail h5 a {
  font-weight: 500;
  transition: 0.2s;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.cart-body .box-product-cart-detail h5 a:hover {
  color: #6F4E37;
}
.cart-body .box-product-cart-detail .quantity input {
  background: none;
  border: 0;
  width: 35px;
  margin-left: 20px;
  font-size: 14px;
  margin-bottom: 5px;
}
.cart-body .box-product-cart-detail .quantity button {
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
  background: black;
  border: 0;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  color: white;
  line-height: 19px;
}
.cart-body .box-product-cart-detail .quantity button:hover {
  background: #6F4E37;
}
.cart-body .box-product-cart-detail h4 {
  font-weight: bold;
  color: #6F4E37;
}
.cart-footer {
  z-index: 10;
  background: white;
  margin-top: 20px;
}
.cart-footer a {
  padding: 7px 15px;
  margin: 0 5px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 500;
  background: #959595;
  border: 2px solid #959595;
  color: white;
  font-size: 16px;
  transition: 0.5s;
}
.cart-footer a:hover {
  color: white;
  border-color: #6F4E37;
  background: #6F4E37;
}
.cart-footer a:nth-child(1) {
  color: #5E5E5E;
  background: none;
}
.cart-footer a:nth-child(1):hover {
  color: #6F4E37;
}

.welcome {
  margin-top: 60px;
}
.welcome .title-welcome h1 {
  font-weight: bold;
}
.welcome .title-welcome h3 {
  text-transform: uppercase;
  color: #585858;
}
.welcome .box-welcome {
  margin-bottom: 40px;
}
.welcome .box-welcome i {
  font-size: 70px;
  color: #6F4E37;
}
.welcome .box-welcome h1 {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: -10px;
  margin-bottom: 10px;
}
.welcome .box-welcome h5 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #555555;
}
.welcome img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 1400px) {
  article {
    margin: 15px;
    margin-top: 60px;
  }

  .slider {
    margin: 0 -15px;
  }

  aside.aside-mini {
    width: 70px;
    transition: all 0.25s ease;
  }
  aside.aside-mini ul li {
    margin-bottom: 15px;
    padding-left: 3px !important;
  }
  aside.aside-mini ul li a {
    margin: 8px 20px;
  }
  aside .menu ul.nav li .menu-title.mini, aside .menu ul.nav li .menu-down.mini {
    display: none;
  }
  aside .logo {
    text-align: center;
    padding: 10px 15px;
    height: 60px;
    border-bottom: 1px solid #e1e1e1;
  }
  aside .logo .logo-large, aside .logo .logo-mini {
    transition: width 0.25s ease;
  }
  aside .logo .logo-large-mini {
    display: none;
  }
  aside .logo .logo-mini {
    display: none;
  }
  aside .logo .logo-mini-mini {
    display: block;
  }

  main.main-mini {
    width: calc(100% - 70px);
    margin-left: 70px;
  }

  header.header-mini {
    width: calc(100% - 70px);
  }
}
@media (max-width: 1200px) {
  .overlay-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1001;
    display: none;
    background: rgba(0, 0, 0, 0.2);
  }
  .overlay-menu.overlay-in {
    display: block;
    cursor: url("../img/cursor.png"), auto;
  }

  aside {
    transform: translateX(-250px);
    transition: 0.25s;
    z-index: 1011;
  }
  aside.aside-mini {
    transform: none;
    width: 250px;
  }
  aside.aside-mini ul li a span {
    display: inline-block !important;
  }
  aside.aside-mini .logo .logo-mini {
    display: none;
  }
  aside.aside-mini .logo .logo-large {
    display: block;
  }
  aside.aside-mini .menu-down {
    display: block !important;
  }

  main {
    width: 100%;
    margin-left: 0;
  }
  main.main-mini {
    width: 100%;
    margin-left: 0;
  }

  header {
    width: 100%;
  }
  header.header-mini {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .main-menu .nav {
    transform: none !important;
  }
}
@media (max-width: 992px) {
  .ssm-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 10;
  }
}
@media (max-width: 575px) {
  .cart {
    width: 300px;
    grid-template-rows: 60px calc(100% - 120px) 60px;
  }
  .cart-header {
    padding: 10px 20px;
  }
  .cart-footer a {
    font-size: 14px;
  }
}

/*# sourceMappingURL=layout.css.map */
