@import 'default';
$main-color: #6F4E37;

@mixin tr {
  transition: .3s;
}

@mixin o1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@mixin o2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

//end default css -----------------------------------------------------




.slider {
  margin: 0 -50px;
  
  .owl-theme .owl-nav {

    button.owl-prev,
    button.owl-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 60px;
      transition: .5s;
      color: white;

      &:hover {
        color: $main-color;
        background: none;
      }

      &:focus {
        outline: none;
      }
    }

    button.owl-prev {
      left: 0;
    }

    button.owl-next {
      right: 0;
    }
  }
}

.cart {
  width: 400px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background: white;
  z-index: 1020;
  transform: translateX(100%);
  transition: .3s;
  display: grid;
  grid-template-rows: 100px calc(100% - 160px) 60px;

  &.cart-out {
    transform: none;
  }

  &-header {
    padding: 30px 20px;
    background: $main_color;
    color: white;
    
    h3 {
      font-weight: bold;
      margin-top: 5px;
    }

    i {
      font-size: 24px;
      margin-top: -10px;

      &.cart-close {
        cursor: pointer;
        transition: .5s;

        &:hover {
          color: black;
        }
      }
    }

    span {
      position: absolute;
      background: black;
      font-size: 10px;
      width: 15px;
      height: 15px;
      line-height: 15px;
      text-align: center;
      border-radius: 50%;
      bottom: 0;
      margin-left: -10px;
    }
  }

  &-body {
    padding: 15px;
    max-height: 100%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 5px;
    }
    
    &::-webkit-scrollbar-track {
      background: #f1f1f1; 
    }
     
    &::-webkit-scrollbar-thumb {
      background: #888; 
    }
    
    &::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }

    .box-product-cart {
      display: flex;
      border-bottom: 1px solid #e1e1e1;
      padding-bottom: 10px;
      margin-bottom: 10px;

      img {
        width: 100px;
        height: 100px;
        margin-right: 10px;
      }

      &-detail {
        h5 {
          margin-bottom: 5px;

          a {
            font-weight: 500;
            transition: .2s;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;

            &:hover {
              color: $main_color;
            }
          }
        }

        .quantity {
          input {
            background: none;
            border: 0;
            width: 35px;
            margin-left: 20px;
            font-size: 14px;
            margin-bottom: 5px;
          }

          button {
            font-size: 14px;
            cursor: pointer;
            transition: .2s;
            background: black;
            border: 0;
            width: 20px;
            height: 20px;
            border-radius: 3px;
            color: white;
            line-height: 19px;

            &:hover {
              background: $main_color;
            }
          }
        }

        h4 {
          font-weight: bold;
          color: $main_color;
        }
      }
    }
  }

  &-footer {
    z-index: 10;
    background: white;
    margin-top: 20px;

    a {
      padding: 7px 15px;
      margin: 0 5px;
      border-radius: 5px;
      text-transform: uppercase;
      font-weight: 500;
      background: #959595;
      border: 2px solid #959595;
      color: white;
      font-size: 16px;
      transition: .5s;

      &:hover {
        color: white;
        border-color: $main_color;
        background: $main_color;
      }
    }

    a:nth-child(1) {
      color: #5E5E5E;
      background: none;

      &:hover {
        color: $main_color;
      }
    }
  }
}



@import 'media';
