extends _inc

block main  
  section.bg-page
    .container-fluid
      | tin tức
  
  section.bread-crumb
    .container-fluid
      .bc-icons
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='index.html') Trang chủ
            li.breadcrumb-item
              a(href='tin-tuc.html') Tin tức
            li.breadcrumb-item.active Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente, nostrum!

  section.news-page
    .container
      .news-detail
        h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, dolore!
        h5
          i.mdi.mdi-calendar-clock
          | 27/02/2019
        h4 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse cum nemo explicabo nihil mollitia ipsum illo ipsam autem dolore error?
        img(src='../img/news-1.png')

        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim magni, maiores quisquam fuga officia doloribus deleniti pariatur unde assumenda. Quo iure alias vero dolores expedita quis hic nulla asperiores aspernatur.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim magni, maiores quisquam fuga officia doloribus deleniti pariatur unde assumenda. Quo iure alias vero dolores expedita quis hic nulla asperiores aspernatur.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim magni, maiores quisquam fuga officia doloribus deleniti pariatur unde assumenda. Quo iure alias vero dolores expedita quis hic nulla asperiores aspernatur.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim magni, maiores quisquam fuga officia doloribus deleniti pariatur unde assumenda. Quo iure alias vero dolores expedita quis hic nulla asperiores aspernatur.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim magni, maiores quisquam fuga officia doloribus deleniti pariatur unde assumenda. Quo iure alias vero dolores expedita quis hic nulla asperiores aspernatur.
          

