extends _inc

block main  
  section.bg-page
    .container-fluid
      | Điều khoản
  
  section.bread-crumb
    .container-fluid
      .bc-icons
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='index.html') Trang chủ
            li.breadcrumb-item.active Điều khoản sử dụng

  section.page-text
    .container
      .news-detail
        h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, dolore!
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim magni, maiores quisquam fuga officia doloribus deleniti pariatur unde assumenda. Quo iure alias vero dolores expedita quis hic nulla asperiores aspernatur.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim magni, maiores quisquam fuga officia doloribus deleniti pariatur unde assumenda. Quo iure alias vero dolores expedita quis hic nulla asperiores aspernatur.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim magni, maiores quisquam fuga officia doloribus deleniti pariatur unde assumenda. Quo iure alias vero dolores expedita quis hic nulla asperiores aspernatur.
        
        img(src='../img/about-1.png')

        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim magni, maiores quisquam fuga officia doloribus deleniti pariatur unde assumenda. Quo iure alias vero dolores expedita quis hic nulla asperiores aspernatur.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim magni, maiores quisquam fuga officia doloribus deleniti pariatur unde assumenda. Quo iure alias vero dolores expedita quis hic nulla asperiores aspernatur.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim magni, maiores quisquam fuga officia doloribus deleniti pariatur unde assumenda. Quo iure alias vero dolores expedita quis hic nulla asperiores aspernatur.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim magni, maiores quisquam fuga officia doloribus deleniti pariatur unde assumenda. Quo iure alias vero dolores expedita quis hic nulla asperiores aspernatur.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim magni, maiores quisquam fuga officia doloribus deleniti pariatur unde assumenda. Quo iure alias vero dolores expedita quis hic nulla asperiores aspernatur.
          

