extends _inc

block main  

  section.slider
    .owl-carousel.slider-carousel.owl-theme
      .item
        img(src='../img/slider-1.png', alt='')
      .item
        img(src='../img/slider-2.png', alt='')
          
  section.home
    .container-fluid
      .row
        .col
        .col
        .col
        .col
