extends _inc

block main  
  section.bg-page
    .container-fluid
      | tin tức
  
  section.bread-crumb
    .container-fluid
      .bc-icons
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='index.html') Trang chủ
            li.breadcrumb-item.active Tin tức

  section.news-page
    .container-fluid
      .news-zone
        .box-news
          .box-news-img
            a(href='chi-tiet-tin-tuc.html')
              img(src='../img/news-1.png')

          .box-news-detail
            h3
              a(href='chi-tiet-tin-tuc.html', title='Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, sit?')
                | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, sit?
            h5
              | admin
              span / 26/02/2019
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, eos. Dolores, eligendi expedita. Porro quasi quo architecto in aspernatur est?

            .box-news-detail-btn
              a(href='chi-tiet-tin-tuc.html') Xem thêm
          
        .box-news
          .box-news-img
            a(href='chi-tiet-tin-tuc.html')
              img(src='../img/news-1.png')

          .box-news-detail
            h3
              a(href='chi-tiet-tin-tuc.html', title='Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, sit?')
                | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, sit?
            h5
              | admin
              span / 26/02/2019
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, eos. Dolores, eligendi expedita. Porro quasi quo architecto in aspernatur est?

            .box-news-detail-btn
              a(href='chi-tiet-tin-tuc.html') Xem thêm
          
        .box-news
          .box-news-img
            a(href='chi-tiet-tin-tuc.html')
              img(src='../img/news-1.png')

          .box-news-detail
            h3
              a(href='chi-tiet-tin-tuc.html', title='Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, sit?')
                | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, sit?
            h5
              | admin
              span / 26/02/2019
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, eos. Dolores, eligendi expedita. Porro quasi quo architecto in aspernatur est?

            .box-news-detail-btn
              a(href='chi-tiet-tin-tuc.html') Xem thêm
          
        .box-news
          .box-news-img
            a(href='chi-tiet-tin-tuc.html')
              img(src='../img/news-1.png')

          .box-news-detail
            h3
              a(href='chi-tiet-tin-tuc.html', title='Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, sit?')
                | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, sit?
            h5
              | admin
              span / 26/02/2019
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, eos. Dolores, eligendi expedita. Porro quasi quo architecto in aspernatur est?

            .box-news-detail-btn
              a(href='chi-tiet-tin-tuc.html') Xem thêm
          
        .box-news
          .box-news-img
            a(href='chi-tiet-tin-tuc.html')
              img(src='../img/news-1.png')

          .box-news-detail
            h3
              a(href='chi-tiet-tin-tuc.html', title='Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, sit?')
                | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, sit?
            h5
              | admin
              span / 26/02/2019
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, eos. Dolores, eligendi expedita. Porro quasi quo architecto in aspernatur est?

            .box-news-detail-btn
              a(href='chi-tiet-tin-tuc.html') Xem thêm
          
        .box-news
          .box-news-img
            a(href='chi-tiet-tin-tuc.html')
              img(src='../img/news-1.png')

          .box-news-detail
            h3
              a(href='chi-tiet-tin-tuc.html', title='Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, sit?')
                | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, sit?
            h5
              | admin
              span / 26/02/2019
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, eos. Dolores, eligendi expedita. Porro quasi quo architecto in aspernatur est?

            .box-news-detail-btn
              a(href='chi-tiet-tin-tuc.html') Xem thêm
          
        .box-news
          .box-news-img
            a(href='chi-tiet-tin-tuc.html')
              img(src='../img/news-1.png')

          .box-news-detail
            h3
              a(href='chi-tiet-tin-tuc.html', title='Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, sit?')
                | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, sit?
            h5
              | admin
              span / 26/02/2019
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, eos. Dolores, eligendi expedita. Porro quasi quo architecto in aspernatur est?

            .box-news-detail-btn
              a(href='chi-tiet-tin-tuc.html') Xem thêm
          
        .box-news
          .box-news-img
            a(href='chi-tiet-tin-tuc.html')
              img(src='../img/news-1.png')

          .box-news-detail
            h3
              a(href='chi-tiet-tin-tuc.html', title='Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, sit?')
                | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, sit?
            h5
              | admin
              span / 26/02/2019
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, eos. Dolores, eligendi expedita. Porro quasi quo architecto in aspernatur est?

            .box-news-detail-btn
              a(href='chi-tiet-tin-tuc.html') Xem thêm
          
        .box-news
          .box-news-img
            a(href='chi-tiet-tin-tuc.html')
              img(src='../img/news-1.png')

          .box-news-detail
            h3
              a(href='chi-tiet-tin-tuc.html', title='Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, sit?')
                | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, sit?
            h5
              | admin
              span / 26/02/2019
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, eos. Dolores, eligendi expedita. Porro quasi quo architecto in aspernatur est?

            .box-news-detail-btn
              a(href='chi-tiet-tin-tuc.html') Xem thêm
          
        .box-news
          .box-news-img
            a(href='chi-tiet-tin-tuc.html')
              img(src='../img/news-1.png')

          .box-news-detail
            h3
              a(href='chi-tiet-tin-tuc.html', title='Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, sit?')
                | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, sit?
            h5
              | admin
              span / 26/02/2019
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, eos. Dolores, eligendi expedita. Porro quasi quo architecto in aspernatur est?

            .box-news-detail-btn
              a(href='chi-tiet-tin-tuc.html') Xem thêm
          
        .box-news
          .box-news-img
            a(href='chi-tiet-tin-tuc.html')
              img(src='../img/news-1.png')

          .box-news-detail
            h3
              a(href='chi-tiet-tin-tuc.html', title='Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, sit?')
                | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, sit?
            h5
              | admin
              span / 26/02/2019
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, eos. Dolores, eligendi expedita. Porro quasi quo architecto in aspernatur est?

            .box-news-detail-btn
              a(href='chi-tiet-tin-tuc.html') Xem thêm
      
      .main-paging
        nav
          ul.pagination.justify-content-end
            li.page-item
              a.page-link(href='#', aria-label='Previous')
                span(aria-hidden='true') «
                span.sr-only Previous
            li.page-item
              a.page-link.active(href='#') 1
            li.page-item
              a.page-link(href='#') 2
            li.page-item
              a.page-link(href='#') 3
            li.page-item
              a.page-link(href='#', aria-label='Next')
                span(aria-hidden='true') »
                span.sr-only Next
    
          

