<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Coffee</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/mdb.min.css"/>
    <link rel="stylesheet" href="../css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="../css/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="../css/xzoom.css"/>
    <link rel="stylesheet" href="../css/swiper.min.css"/>
    <link rel="stylesheet" href="../css/magnific-popup.css"/>
    <link rel="stylesheet" href="../css/animate.min.css"/>
    <link rel="stylesheet" href="../css/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="../css/materialdesignicons.min.css"/>
    <link rel="stylesheet" href="../css/sweetalert2.min.css"/>
    <link rel="stylesheet" href="../css/jquery-ui.min.css"/>
    <link rel="stylesheet" href="../css/layout.css"/>
    <link rel="shortcut icon" href="../img/favicon.png"/>
  </head>
  <body>
    <aside>
      <div class="menu-close"><i class="mdi mdi-close d-block d-xl-none"></i></div>
      <div class="logo"><a href="index.html"><img class="logo-large" src="../img/logo.png"/></a><img class="logo-mini" src="../img/logo-mini.png"/></div>
      <div class="menu">
        <nav class="sidebar" id="sidebar">
          <ul class="nav">
            <li class="nav-item"><a class="nav-link" href="index.html" title="Trang chủ"><i class="mdi mdi-home-circle menu-icon"></i><span class="menu-title">Trang chủ</span></a></li>
            <li class="nav-item"><a class="nav-link" href="gioi-thieu.html" title="Giới thiệu"><i class="mdi mdi-account-supervisor-circle menu-icon"></i><span class="menu-title">Giới thiệu</span></a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="collapse" href="#product" aria-expanded="false" aria-controls="ui-basic" title="Sản phẩm"><i class="mdi mdi-coffee menu-icon" aria-hidden="true"></i><span class="menu-title">Sản phẩm</span></a><i class="mdi mdi-chevron-down menu-down" data-toggle="collapse" href="#product" aria-expanded="false" aria-controls="ui-basic"></i>
              <div class="collapse" id="product">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"><a class="nav-link" href="san-pham.html">Cà phê trung nguyên</a></li>
                  <li class="nav-item"><a class="nav-link" href="san-pham-1.html">Cà phê cao cấp</a></li>
                  <li class="nav-item"><a class="nav-link" href="san-pham-1.html">Cà phê rang xay</a></li>
                  <li class="nav-item"><a class="nav-link" href="san-pham-1.html">Cà phê phin</a></li>
                  <li class="nav-item"><a class="nav-link" href="san-pham-1.html">Cà phê hòa tan</a></li>
                  <li class="nav-item"><a class="nav-link" href="san-pham-1.html">Cà phê trung nguyên</a></li>
                  <li class="nav-item"><a class="nav-link" href="san-pham-1.html">Cà phê cao cấp</a></li>
                  <li class="nav-item"><a class="nav-link" href="san-pham-1.html">Cà phê rang xay</a></li>
                  <li class="nav-item"><a class="nav-link" href="san-pham-1.html">Cà phê phin</a></li>
                  <li class="nav-item"><a class="nav-link" href="san-pham-1.html">Cà phê hòa tan</a></li>
                  <li class="nav-item"><a class="nav-link" href="san-pham-1.html">Cà phê trung nguyên</a></li>
                  <li class="nav-item"><a class="nav-link" href="san-pham-1.html">Cà phê cao cấp</a></li>
                  <li class="nav-item"><a class="nav-link" href="san-pham-1.html">Cà phê rang xay</a></li>
                  <li class="nav-item"><a class="nav-link" href="san-pham-1.html">Cà phê phin</a></li>
                  <li class="nav-item"><a class="nav-link" href="san-pham-1.html">Cà phê hòa tan</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="tin-tuc.html" title="Tin tức"><i class="mdi mdi-newspaper menu-icon"></i><span class="menu-title">Tin tức</span></a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="collapse" href="#term" aria-expanded="false" aria-controls="ui-basic" title="Điều khoản"><i class="mdi mdi-onenote menu-icon" aria-hidden="true"></i><span class="menu-title">Điều khoản</span></a><i class="mdi mdi-chevron-down menu-down" data-toggle="collapse" href="#term" aria-expanded="false" aria-controls="ui-basic"></i>
              <div class="collapse" id="term">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"><a class="nav-link" href="dieu-khoan.html">Điều khoản sử dụng</a></li>
                  <li class="nav-item"><a class="nav-link" href="dieu-khoan.html">Điều khoản mua hàng</a></li>
                  <li class="nav-item"><a class="nav-link" href="dieu-khoan.html">Điều khoản bảo mật</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="lien-he.html" title="Liên hệ"><i class="mdi mdi-send menu-icon"></i><span class="menu-title">Liên hệ</span></a></li>
          </ul>
        </nav>
      </div>
    </aside>
    <main>
      <header>
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-6 col-lg-4 col-md-6 d-flex">
              <div class="menu-btn"><i class="mdi mdi-menu"></i></div>
              <div class="cart-btn"><i class="mdi mdi-cart"></i><span>10</span></div>
              <div class="search">
                <form>
                  <input class="form-control" type="text" placeholder="Nhập từ khóa"/>
                  <button><i class="mdi mdi-magnify"></i></button>
                </form>
              </div>
            </div>
            <div class="col-xl-6 col-lg-8 col-md-6 d-none d-md-block">
              <div class="contact">
                <ul>
                  <li><a href="#"><i class="mdi mdi-map"></i>Số 1, Phường 2, Quận 3, TP.HCM</a></li>
                  <li><a href="#"><i class="mdi mdi-phone-classic"></i>0912 345 678</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </header>
      <article>
        <div class="cart">
          <div class="cart-header">
            <div class="row">
              <div class="col-2"><i class="mdi mdi-close cart-close" title="Đóng"></i></div>
              <div class="col-8 text-center">
                <h3>GIỎ HÀNG</h3>
              </div>
              <div class="col-2 text-right"><i class="mdi mdi-cart"></i><span>10</span></div>
            </div>
          </div>
          <div class="cart-body">
            <div class="box-product-cart"><img src="../img/product-1.png"/>
              <div class="box-product-cart-detail">
                <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
                <div class="quantity">
                  <button class="waves-effect waves-light">-</button>
                  <input type="number" value="1" min="1"/>
                  <button class="waves-effect waves-light">+</button>
                </div>
                <h4>500.000 đ</h4>
              </div>
            </div>
            <div class="box-product-cart"><img src="../img/product-2.png"/>
              <div class="box-product-cart-detail">
                <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
                <div class="quantity">
                  <button class="waves-effect waves-light">-</button>
                  <input type="number" value="1" min="1"/>
                  <button class="waves-effect waves-light">+</button>
                </div>
                <h4>500.000 đ</h4>
              </div>
            </div>
            <div class="box-product-cart"><img src="../img/product-1.png"/>
              <div class="box-product-cart-detail">
                <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
                <div class="quantity">
                  <button class="waves-effect waves-light">-</button>
                  <input type="number" value="1" min="1"/>
                  <button class="waves-effect waves-light">+</button>
                </div>
                <h4>500.000 đ</h4>
              </div>
            </div>
            <div class="box-product-cart"><img src="../img/product-2.png"/>
              <div class="box-product-cart-detail">
                <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
                <div class="quantity">
                  <button class="waves-effect waves-light">-</button>
                  <input type="number" value="1" min="1"/>
                  <button class="waves-effect waves-light">+</button>
                </div>
                <h4>500.000 đ</h4>
              </div>
            </div>
            <div class="box-product-cart"><img src="../img/product-1.png"/>
              <div class="box-product-cart-detail">
                <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
                <div class="quantity">
                  <button class="waves-effect waves-light">-</button>
                  <input type="number" value="1" min="1"/>
                  <button class="waves-effect waves-light">+</button>
                </div>
                <h4>500.000 đ</h4>
              </div>
            </div>
            <div class="box-product-cart"><img src="../img/product-2.png"/>
              <div class="box-product-cart-detail">
                <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
                <div class="quantity">
                  <button class="waves-effect waves-light">-</button>
                  <input type="number" value="1" min="1"/>
                  <button class="waves-effect waves-light">+</button>
                </div>
                <h4>500.000 đ</h4>
              </div>
            </div>
            <div class="box-product-cart"><img src="../img/product-1.png"/>
              <div class="box-product-cart-detail">
                <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
                <div class="quantity">
                  <button class="waves-effect waves-light">-</button>
                  <input type="number" value="1" min="1"/>
                  <button class="waves-effect waves-light">+</button>
                </div>
                <h4>500.000 đ</h4>
              </div>
            </div>
            <div class="box-product-cart"><img src="../img/product-2.png"/>
              <div class="box-product-cart-detail">
                <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
                <div class="quantity">
                  <button class="waves-effect waves-light">-</button>
                  <input type="number" value="1" min="1"/>
                  <button class="waves-effect waves-light">+</button>
                </div>
                <h4>500.000 đ</h4>
              </div>
            </div>
            <div class="box-product-cart"><img src="../img/product-1.png"/>
              <div class="box-product-cart-detail">
                <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
                <div class="quantity">
                  <button class="waves-effect waves-light">-</button>
                  <input type="number" value="1" min="1"/>
                  <button class="waves-effect waves-light">+</button>
                </div>
                <h4>500.000 đ</h4>
              </div>
            </div>
          </div>
          <div class="cart-footer text-center"><a href="gio-hang.html">vào giỏ hàng</a><a href="thanh-toan.html">thanh toán</a></div>
        </div>
        <div class="overlay-menu"></div>
        <div class="overlay"></div>
        <section class="bg-page">
          <div class="container-fluid">sản phẩm</div>
        </section>
        <section class="bread-crumb">
          <div class="container-fluid">
            <div class="bc-icons">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                  <li class="breadcrumb-item"><a href="san-pham.html">Sản phẩm</a></li>
                  <li class="breadcrumb-item active">Cà phê hòa tan Espresso hộp 100 gói</li>
                </ol>
              </nav>
            </div>
          </div>
        </section>
        <section class="product-page">
          <div class="container-fluid">
            <div class="left">
              <div class="filter">
                <div class="seller">
                  <h3>sản phẩm bán chạy</h3>
                  <div class="product-left">
                    <div class="product-left-img"><a href="chi-tiet-san-pham.html"><img src="../img/product-1.png"/></a></div>
                    <div class="product-left-detail">
                      <h5><a href="chi-tiet-san-pham.html" title="Cà phê hòa tan Espresso hộp 100 gói">Cà phê hòa tan Espresso hộp 100 gói</a></h5>
                      <h4>250.000 đ</h4>
                    </div>
                  </div>
                  <div class="product-left">
                    <div class="product-left-img"><a href="chi-tiet-san-pham.html"><img src="../img/product-1.png"/></a></div>
                    <div class="product-left-detail">
                      <h5><a href="chi-tiet-san-pham.html" title="Cà phê hòa tan Espresso hộp 100 gói">Cà phê hòa tan Espresso hộp 100 gói</a></h5>
                      <h4>250.000 đ</h4>
                    </div>
                  </div>
                  <div class="product-left">
                    <div class="product-left-img"><a href="chi-tiet-san-pham.html"><img src="../img/product-1.png"/></a></div>
                    <div class="product-left-detail">
                      <h5><a href="chi-tiet-san-pham.html" title="Cà phê hòa tan Espresso hộp 100 gói">Cà phê hòa tan Espresso hộp 100 gói</a></h5>
                      <h4>250.000 đ</h4>
                    </div>
                  </div>
                  <div class="product-left">
                    <div class="product-left-img"><a href="chi-tiet-san-pham.html"><img src="../img/product-1.png"/></a></div>
                    <div class="product-left-detail">
                      <h5><a href="chi-tiet-san-pham.html" title="Cà phê hòa tan Espresso hộp 100 gói">Cà phê hòa tan Espresso hộp 100 gói</a></h5>
                      <h4>250.000 đ</h4>
                    </div>
                  </div>
                  <div class="product-left">
                    <div class="product-left-img"><a href="chi-tiet-san-pham.html"><img src="../img/product-1.png"/></a></div>
                    <div class="product-left-detail">
                      <h5><a href="chi-tiet-san-pham.html" title="Cà phê hòa tan Espresso hộp 100 gói">Cà phê hòa tan Espresso hộp 100 gói</a></h5>
                      <h4>250.000 đ</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="banner-left"><a href="chi-tiet-san-pham.html">       <img src="../img/about-3.png"/></a></div>
            </div>
            <div class="main">
              <div class="product-detail">
                <div class="product-detail-1">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="product-detail-1-img"><img class="main-image xzoom" src="../img/product-1.png" xoriginal="../img/product-1.png"/>
                        <div class="xzoom-thumbs">
                          <div class="owl-carousel xzoom-carousel owl-theme">
                            <div class="item"><a href="../img/product-1.png"><img class="xzoom-gallery" src="../img/product-1.png" xpreview="../img/product-1.png"/></a></div>
                            <div class="item"><a href="../img/product-2.png"><img class="xzoom-gallery" src="../img/product-2.png" xpreview="../img/product-2.png"/></a></div>
                            <div class="item"><a href="../img/product-1.png"><img class="xzoom-gallery" src="../img/product-1.png" xpreview="../img/product-1.png"/></a></div>
                            <div class="item"><a href="../img/product-2.png"><img class="xzoom-gallery" src="../img/product-2.png" xpreview="../img/product-2.png"/></a></div>
                            <div class="item"><a href="../img/product-1.png"><img class="xzoom-gallery" src="../img/product-1.png" xpreview="../img/product-1.png"/></a></div>
                            <div class="item"><a href="../img/product-2.png"><img class="xzoom-gallery" src="../img/product-2.png" xpreview="../img/product-2.png"/></a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="product-detail-1-detail">
                        <h2>Logitech G502 Proteus Spectrum</h2>
                        <h4 class="price-product">699.000 đ </h4>
                        <h5>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</h5>
                        <div class="quantity"><span>Số lượng: </span>
                          <button class="waves-effect waves-light">-</button>
                          <input type="number" value="1" min="1"/>
                          <button class="waves-effect waves-light">+</button>
                          <button class="custom-cart">thêm vào giỏ</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-detail-2">
                  <div class="product-detail-2-title">
                    <ul class="nav nav-tabs justify-content-center" role="tablist">
                      <li class="nav-item"><a class="nav-link active" id="desc-1-tab" data-toggle="tab" href="#desc-1" role="tab" aria-controls="desc-1" aria-selected="true">Chi tiết sản phẩm</a></li>
                    </ul>
                  </div>
                  <div class="tab-content">
                    <div class="tab-pane fade show active" id="desc-1" role="tabpanel" aria-labelledby="desc-1-tab">
                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea maxime laborum tempora iusto odio magnam optio impedit esse aperiam, reiciendis provident quas veritatis libero blanditiis minus alias illo, temporibus ut.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus dolorem et, minus inventore laborum! Dolore, asperiores. Inventore, iste voluptatem quaerat repellendus illum doloribus deserunt ab totam omnis nostrum perspiciatis.</p>
                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea maxime laborum tempora iusto odio magnam optio impedit esse aperiam, reiciendis provident quas veritatis libero blanditiis minus alias illo, temporibus ut.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus dolorem et, minus inventore laborum! Dolore, asperiores. Inventore, iste voluptatem quaerat repellendus illum doloribus deserunt ab totam omnis nostrum perspiciatis.</p>
                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea maxime laborum tempora iusto odio magnam optio impedit esse aperiam, reiciendis provident quas veritatis libero blanditiis minus alias illo, temporibus ut.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus dolorem et, minus inventore laborum! Dolore, asperiores. Inventore, iste voluptatem quaerat repellendus illum doloribus deserunt ab totam omnis nostrum perspiciatis.</p>
                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea maxime laborum tempora iusto odio magnam optio impedit esse aperiam, reiciendis provident quas veritatis libero blanditiis minus alias illo, temporibus ut.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus dolorem et, minus inventore laborum! Dolore, asperiores. Inventore, iste voluptatem quaerat repellendus illum doloribus deserunt ab totam omnis nostrum perspiciatis.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="similar-title">
                <h1>sản phẩm liên quan</h1>
              </div>
              <div class="similar">
                <div class="box-product">
                  <div class="box-product-img"><a href="chi-tiet-san-pham.html" title="Nhấn để xem chi tiết"><img src="../img/product-1.png"/></a></div>
                  <div class="box-product-detail">
                    <h5><a href="chi-tiet-san-pham.html" title="Cà phê hòa tan Espresso hộp 100 gói">Cà phê hòa tan Espresso hộp 100 gói</a></h5>
                    <h4>250.000 đ</h4>
                  </div>
                  <div class="box-product-custom"><a class="custom-quickview" data-toggle="modal" data-target=".product-modal-1" title="Xem nhanh sản phẩm"><i class="mdi mdi-eye-plus"></i></a><a class="custom-cart"><i class="mdi mdi-cart-plus"></i>Thêm vào giỏ</a><a href="chi-tiet-san-pham.html" title="Xem chi tiết"><i class="mdi mdi-link-variant"></i></a></div>
                </div>
                <div class="box-product">
                  <div class="box-product-img"><a href="chi-tiet-san-pham.html" title="Nhấn để xem chi tiết"><img src="../img/product-1.png"/></a></div>
                  <div class="box-product-detail">
                    <h5><a href="chi-tiet-san-pham.html" title="Cà phê hòa tan Espresso hộp 100 gói">Cà phê hòa tan Espresso hộp 100 gói</a></h5>
                    <h4>250.000 đ</h4>
                  </div>
                  <div class="box-product-custom"><a class="custom-quickview" data-toggle="modal" data-target=".product-modal-1" title="Xem nhanh sản phẩm"><i class="mdi mdi-eye-plus"></i></a><a class="custom-cart"><i class="mdi mdi-cart-plus"></i>Thêm vào giỏ</a><a href="chi-tiet-san-pham.html" title="Xem chi tiết"><i class="mdi mdi-link-variant"></i></a></div>
                </div>
                <div class="box-product">
                  <div class="box-product-img"><a href="chi-tiet-san-pham.html" title="Nhấn để xem chi tiết"><img src="../img/product-1.png"/></a></div>
                  <div class="box-product-detail">
                    <h5><a href="chi-tiet-san-pham.html" title="Cà phê hòa tan Espresso hộp 100 gói">Cà phê hòa tan Espresso hộp 100 gói</a></h5>
                    <h4>250.000 đ</h4>
                  </div>
                  <div class="box-product-custom"><a class="custom-quickview" data-toggle="modal" data-target=".product-modal-1" title="Xem nhanh sản phẩm"><i class="mdi mdi-eye-plus"></i></a><a class="custom-cart"><i class="mdi mdi-cart-plus"></i>Thêm vào giỏ</a><a href="chi-tiet-san-pham.html" title="Xem chi tiết"><i class="mdi mdi-link-variant"></i></a></div>
                </div>
                <div class="box-product">
                  <div class="box-product-img"><a href="chi-tiet-san-pham.html" title="Nhấn để xem chi tiết"><img src="../img/product-1.png"/></a></div>
                  <div class="box-product-detail">
                    <h5><a href="chi-tiet-san-pham.html" title="Cà phê hòa tan Espresso hộp 100 gói">Cà phê hòa tan Espresso hộp 100 gói</a></h5>
                    <h4>250.000 đ</h4>
                  </div>
                  <div class="box-product-custom"><a class="custom-quickview" data-toggle="modal" data-target=".product-modal-1" title="Xem nhanh sản phẩm"><i class="mdi mdi-eye-plus"></i></a><a class="custom-cart"><i class="mdi mdi-cart-plus"></i>Thêm vào giỏ</a><a href="chi-tiet-san-pham.html" title="Xem chi tiết"><i class="mdi mdi-link-variant"></i></a></div>
                </div>
                <div class="box-product">
                  <div class="box-product-img"><a href="chi-tiet-san-pham.html" title="Nhấn để xem chi tiết"><img src="../img/product-1.png"/></a></div>
                  <div class="box-product-detail">
                    <h5><a href="chi-tiet-san-pham.html" title="Cà phê hòa tan Espresso hộp 100 gói">Cà phê hòa tan Espresso hộp 100 gói</a></h5>
                    <h4>250.000 đ</h4>
                  </div>
                  <div class="box-product-custom"><a class="custom-quickview" data-toggle="modal" data-target=".product-modal-1" title="Xem nhanh sản phẩm"><i class="mdi mdi-eye-plus"></i></a><a class="custom-cart"><i class="mdi mdi-cart-plus"></i>Thêm vào giỏ</a><a href="chi-tiet-san-pham.html" title="Xem chi tiết"><i class="mdi mdi-link-variant"></i></a></div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </article>
      <footer>
        <div class="container-fluid">
          <div class="footer-top">
            <div class="row">
              <div class="col-lg-3 col-md-6">
                <div class="info"><a href="index.html"><img src="../img/logo.png"/></a>
                  <ul>
                    <li>2593 Timbercrest Road, Chisana, Alaska Badalas United State</li>
                    <li>(+91)7-723-4608</li>
                    <li>Aurosfurniture@gmail.com</li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2 col-md-3 d-none d-md-block">
                <div class="link">
                  <h3>sản phẩm</h3>
                  <ul>
                    <li><a href="san-pham.html">Cà phê cao cấp</a></li>
                    <li><a href="san-pham.html">Cà phê hòa tan</a></li>
                    <li><a href="san-pham.html">Cà phê pha phin</a></li>
                    <li><a href="san-pham.html">Cà phê hạt rang nguyên chất</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2 col-md-3 d-none d-md-block">
                <div class="term">
                  <h3>điều khoản</h3>
                  <ul>
                    <li><a href="dieu-khoan.html">Bảo mật</a></li>
                    <li><a href="dieu-khoan.html">Mua hàng</a></li>
                    <li><a href="dieu-khoan.html">Thanh toán</a></li>
                    <li><a href="dieu-khoan.html">Đổi trả</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-5 d-none d-lg-block">
                <div class="partner">
                  <h3>đối tác</h3>
                  <div class="owl-carousel partner-carousel owl-theme">
                    <div class="item"><img src="../img/partner-1.png"/></div>
                    <div class="item"><img src="../img/partner-1.png"/></div>
                    <div class="item"><img src="../img/partner-1.png"/></div>
                    <div class="item"><img src="../img/partner-1.png"/></div>
                    <div class="item"><img src="../img/partner-1.png"/></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <div class="row">
              <div class="col-md-8 text-center text-md-left mb-3 mb-md-0">
                <h5>Copyright @ 2018 Dai Phat Loc. All Reserved. Designed by Tri Viet</h5>
              </div>
              <div class="col-md-4 text-center text-md-right"><a href="#"><i class="mdi mdi-facebook"></i></a><a href="#"><i class="mdi mdi-twitter"></i></a><a href="#"><i class="mdi mdi-skype"></i></a><a href="#"><i class="mdi mdi-youtube"></i></a></div>
            </div>
          </div>
        </div>
      </footer>
      <script src="../js/jquery-3.3.1.min.js"></script>
      <script src="../js/jquery.touchSwipe.min.js"></script>
      <script src="../js/jquery.slideandswipe.min.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/mdb.min.js"></script>
      <script src="../js/owl.carousel.min.js"></script>
      <script src="../js/wow.min.js"></script>
      <script src="../js/xzoom.min.js"></script>
      <script src="../js/swiper.min.js"></script>
      <script src="../js/magnific-popup.js"></script>
      <script src="../js/jquery.fancybox.min.js"></script>
      <script src="../js/sweetalert2.min.js"></script>
      <script src="../js/jquery-ui.min.js"></script>
      <script src="../js/layout.js"></script>
    </main>
  </body>
</html>